---
import { marked } from "marked";

import {
  type Medium,
  type Series,
  type Taxonomy,
  type Work,
} from "@/lib/types";
import DirectusImage from "@/components/ui/DirectusImage.astro";
import UpperRight from "@/components/ui/icons/UpperRight.astro";
import MissingAsset from "../ui/MissingAsset.astro";
import Markdown from "../ui/Markdown.astro";

interface Props {
  work: Work;
  tags: {
    taxonomies: Partial<Taxonomy>[];
    series: Partial<Series>[];
    mediums: Partial<Medium>[];
  };
}

type TagMap = {
  taxonomy: { id: number; url: string; title: string }[];
  series: { id: number; url: string; title: string }[];
  medium: { id: number; url: string; title: string }[];
};

const { work, tags } = Astro.props;

const tagMap: TagMap = {
  taxonomy: [],
  series: [],
  medium: [],
};

tagMap.taxonomy =
  work.taxonomy?.reduce(
    (arr, t) => {
      if (typeof t === "object" && t.taxonomy_id) {
        const match = tags.taxonomies.find((tax) => tax.id === t.taxonomy_id);
        if (match && match.id && match.title) {
          arr.push({
            id: match.id,
            url: `/taxonomy/${match.id}/`,
            title: match.title,
          });
        }
      }
      return arr;
    },
    [] as TagMap["taxonomy"],
  ) ?? [];

tagMap.series =
  work.series?.reduce(
    (arr, t) => {
      if (typeof t === "object" && t.series_id) {
        const match = tags.series.find((ser) => ser.id === t.series_id);
        if (match && match.id && match.title) {
          arr.push({
            id: match.id,
            url: `/series/${match.id}/`,
            title: match.title,
          });
        }
      }
      return arr;
    },
    [] as TagMap["series"],
  ) ?? [];

tagMap.medium =
  work.medium_category?.reduce(
    (arr, t) => {
      if (typeof t === "object" && t.medium_id) {
        const match = tags.mediums.find((med) => med.id === t.medium_id);
        if (match && match.id && match.title) {
          arr.push({
            id: match.id,
            url: `/medium/${match.id}/`,
            title: match.title,
          });
        }
      }
      return arr;
    },
    [] as TagMap["medium"],
  ) ?? [];

const taxonomyClasses = tagMap.taxonomy.map((t) => t.id).join(",");

const seriesClasses = tagMap.series.map((s) => s.id).join(",");

const mediumClasses = tagMap.medium.map((m) => m.id).join(",");

let coreDims = [];
coreDims.push(work.dimensions?.find((dim) => dim.type === "width")?.value);
coreDims.push(work.dimensions?.find((dim) => dim.type === "height")?.value);
coreDims.push(work.dimensions?.find((dim) => dim.type === "depth")?.value);
coreDims = coreDims.filter((dim) => dim && dim.length > 0);

const rest = work.dimensions
  ?.filter((dim) => !["width", "height", "depth"].includes(dim.type ?? ""))
  .map((dim) => dim.value?.trim())
  .filter((dim) => dim && dim.length > 0);

const dimString =
  coreDims.join(" × ") +
  (coreDims.length > 0 ? '"' : "") +
  (rest && rest.length ? ` ${rest.join(" ")}` : "");
---

<div
  data-work
  data-id={work.id}
  data-taxonomies={taxonomyClasses?.length ? taxonomyClasses : undefined}
  data-series={seriesClasses?.length ? seriesClasses : undefined}
  data-mediums={mediumClasses?.length ? mediumClasses : undefined}
>
  <button data-open aria-label={`View details for ${work.title}`} type="button">
    <div data-preview-figure style=`--width-scale: ${Math.random() * .5 + .75}`>
      {
        work.primary_view ? (
          <DirectusImage asset={work.primary_view} alt={work.title} />
        ) : (
          <MissingAsset />
        )
      }
    </div>
    <div data-caption>
      <p class="mono strong" set:html={marked.parseInline(work.title)} />
      <div><UpperRight /></div>
    </div>
  </button>
  <article>
    <button data-close aria-label="Close details">
      <svg
        width="11"
        height="11"
        viewBox="0 0 11 11"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <svg
          width="11"
          height="11"
          viewBox="0 0 11 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
        >
          <path
            d="M9.30176 1.09399C9.37793 1.01782 9.46257 0.969157 9.55566 0.947998C9.65299 0.922607 9.75033 0.922607 9.84766 0.947998C9.94499 0.969157 10.0317 1.01782 10.1079 1.09399C10.1799 1.16593 10.2285 1.25057 10.2539 1.3479C10.2793 1.44523 10.2793 1.54256 10.2539 1.63989C10.2285 1.73722 10.1799 1.82186 10.1079 1.8938L1.17676 10.825C1.10482 10.8969 1.02018 10.9456 0.922852 10.9709C0.825521 10.9963 0.72819 10.9963 0.630859 10.9709C0.533529 10.9456 0.446777 10.8969 0.370605 10.825C0.294434 10.753 0.243652 10.6684 0.218262 10.571C0.197103 10.4737 0.199219 10.3764 0.224609 10.2791C0.25 10.1817 0.298665 10.0971 0.370605 10.0251L9.30176 1.09399ZM10.1079 10.0251C10.1799 10.0971 10.2264 10.1817 10.2476 10.2791C10.2729 10.3764 10.2729 10.4737 10.2476 10.571C10.2264 10.6684 10.1799 10.753 10.1079 10.825C10.036 10.9011 9.94922 10.9498 9.84766 10.9709C9.75033 10.9963 9.65299 10.9963 9.55566 10.9709C9.45833 10.9456 9.3737 10.8969 9.30176 10.825L0.370605 1.8938C0.298665 1.82186 0.25 1.73722 0.224609 1.63989C0.203451 1.54256 0.203451 1.44523 0.224609 1.3479C0.25 1.25057 0.298665 1.16593 0.370605 1.09399C0.442546 1.01782 0.527181 0.969157 0.624512 0.947998C0.721842 0.922607 0.819173 0.922607 0.916504 0.947998C1.01807 0.969157 1.10482 1.01782 1.17676 1.09399L10.1079 10.0251Z"
          ></path>
        </svg>
      </svg></button
    >
    <div>
      <div class="asset">
        {
          work.primary_view ? (
            <DirectusImage
              asset={work.primary_view}
              alt={work.title}
              withDescription={true}
            />
          ) : (
            <MissingAsset />
          )
        }
      </div>
      <div class="details">
        <div class="section">
          <h2 class="strong" set:html={marked.parseInline(work.title)} />
          <h3 class="strong">{work.year}</h3>
          {work.description ? <Markdown content={work.description} /> : null}
        </div>
        <div class="section">
          <dl>
            <div>
              <dt>Dimensions</dt>
              <dd class="mono">
                {dimString.length ? dimString : "N/A"}
              </dd>
            </div>
            <div>
              <dt>Inventory Number</dt>
              <dd class="mono">{work.inventory_id}</dd>
            </div>
            <div>
              <dt>Medium</dt>
              <dd class="mono">{work.medium_description}</dd>
            </div>
          </dl>
        </div>
        <div>
          <ul>
            {
              (["taxonomy", "series", "medium"] as (keyof TagMap)[]).map(
                (key) =>
                  tagMap[key].map((tag) => (
                    <li class={`tag ${key} ${key}-${tag.id} mono`}>
                      <a href={tag.url}>{tag.title}</a>
                    </li>
                  )),
              )
            }
          </ul>
        </div>
      </div>
    </div>
    {
      work.videos && work.videos.length > 0 && (
        <div class="videos">
          {work.videos.map((video) => (
            <div class="video">
              <iframe
                src={`https://www.youtube.com/embed/${video.youtube_id}?rel=0&color=white`}
                title={video.title}
                frame-border="0"
                allowfullscreen
              />
              {video.title && <h4>{video.title}</h4>}
            </div>
          ))}
        </div>
      )
    }
    {
      work.views && work.views.length > 0 && (
        <div class="gallery">
          {work.views.map((view, idx) => {
            if (typeof view === "object" && view.directus_files_id) {
              return (
                <DirectusImage
                  asset={view.directus_files_id}
                  alt={`${work.title} view ${idx + 1}`}
                  withDescription={true}
                />
              );
            }
          })}
        </div>
      )
    }
  </article>
</div>

<style lang="scss">
  @use "@/styles/mixins.scss";

  div[data-work] {
    padding: var(--spacing--base);
    width: min-content;

    div[data-preview-figure] {
      --baseline-width: calc(var(--spacing--base) * 20);
      :global(img) {
        max-inline-size: calc(var(--width-scale, 1) * var(--baseline-width));
        height: auto;
      }
    }
    &.filtered {
      opacity: 0.2;
    }
    &.selected {
      outline: 1px solid var(--color-white);

      div[data-caption] {
        display: flex;
      }
    }

    &.expanded {
      article {
        display: grid;
      }
    }

    div[data-caption] {
      margin-top: calc(0.5 * var(--spacing--base));
      display: none;
      justify-content: space-between;
      gap: calc(0.5 * var(--spacing--base));

      p {
        text-transform: uppercase;
      }

      p + div {
        fill: var(--color-white);
      }
    }

    article {
      display: none;
      position: fixed;
      inset: 0;
      background-color: #000000dd;
      z-index: 200;
      overflow: scroll;

      justify-content: center;
      align-items: center;

      button {
        position: fixed;
        top: var(--spacing--base);
        right: var(--spacing--base);
        svg {
          width: calc(1 * var(--spacing--base));
          stroke: var(--color-white);
          fill: var(--color-white);
        }
      }
      > div {
        max-width: 60rem;
        display: grid;
        gap: var(--spacing--base);
        padding: calc(2.5 * var(--spacing--base));
        align-items: start;
        grid-template-columns: minmax(0, 1fr);

        @include mixins.desktop {
          grid-template-columns: repeat(2, minmax(0, 1fr));

          &.videos {
            grid-template-columns: minmax(0, 1fr);
          }

          &:first-of-type {
            padding-block-start: calc(6 * var(--spacing--base));
          }
        }

        :global(figure) {
          :global(img) {
            width: 100%;
            height: auto;
          }
        }

        .details {
          display: flex;
          flex-direction: column;

          > div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: calc(0.5 * var(--spacing--base));
            padding-block: calc(1 * var(--spacing--base));

            &.section {
              border: 1px solid var(--color-white);
              padding-inline: calc(1 * var(--spacing--base));

              &:not(:first-of-type) {
                border-top: unset;
              }
            }
          }

          h3 {
            color: var(--color--grey-dark);
          }

          dl {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: calc(0.5 * var(--spacing--base));
            dt {
              color: var(--color--grey-dark);
            }
            dd {
              text-transform: uppercase;
            }
          }

          ul {
            display: flex;
            flex-wrap: wrap;
            gap: calc(0.5 * var(--spacing--base));
            .tag {
              color: var(--color-white);
              fill: var(--color-white);

              font-weight: bold;
              text-transform: uppercase;

              display: flex;
              align-items: center;
              gap: calc(0.25 * var(--spacing--base));

              a,
              button {
                padding: calc(0.25 * var(--spacing--base));
                background-color: var(--bg-color);
              }

              &.taxonomy {
                --bg-color: var(--color-filter-taxonomy);
              }
              &.series {
                --bg-color: var(--color-filter-series);
              }
              &.medium {
                --bg-color: var(--color-filter-medium);
              }
            }
          }
        }

        .video {
          display: grid;
          gap: calc(0.5 * var(--spacing--base));

          h4 {
            font-weight: bold;
          }
        }
      }
    }
  }
</style>
